*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1220px;
    margin: 0 auto;
}

header {
    display: flex;
    align-items: center;            
    justify-content: space-between; 
    padding: 15px 40px;
    background-color: #0E5E89;     
}

.header-left {
    display: flex;
    align-items: center;
    gap: 20px;
}

.header-right {
    display: flex;
    align-items: center;
    gap: 20px;

}

header input {
    width: 450px;
    padding: 10px;
}
i {
      color: rgb(0, 0, 0);
      width: 25px;
height: 22.000011444091797px;


}
.main{
    background: #F2F4F5;
 

}
.salom{
     width: 1920px;
height: 72px;
display: flex;
align-items: center;
gap: 20px;
}
.h5{
   color: #2DA5F3;
;
}
.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
}

.search-box {
    position: relative;
    width: 350px;
}

.search-box input {
    width: 100%;
    padding: 12px 40px 12px 15px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 15px;
}

.search-box .search-icon {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 16px;
    color: gray;
}

.sort-box {
    display: flex;
    align-items: center;
    gap: 10px;
}

.sort-box select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 15px;
}

.filters-bar {
    margin-top: 15px;
    background: #f5f7fa;
    padding: 12px 18px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    gap: 15px;
}

.filters-bar .label {
    font-weight: 600;
    color: #777;
}

.filter {
    background: white;
    border: 1px solid #ddd;
    padding: 6px 10px;
    border-radius: 5px;
    font-size: 14px;
}

.results {
    margin-left: auto;
    font-weight: 600;
    color: #555;
}
.cards{
    display: flex;
  
    gap: 10px;
    flex-wrap: wrap; 
    margin-top:  20px; ;
}
.card{
   width: 250px;
height: 380px;
border-radius: 10px;
background: #ffffff;
box-shadow: 0px -2px 6px 0px #0A254059 inset;
box-shadow: 0px 30px 60px -30px #0000004D;
box-shadow: 0px 50px 100px -20px #32325D40;
 padding: 30px 15px;
text-align: center;
border: 1px solid #E4E7E9
}
.cards img{
    max-width: 100%;
    max-height: 50%;
}
.cards{
    display: flex;
    align-items: center;
    justify-content: center;
}
h3{
    margin: 20px 0 10px;
}
p{
    color: blue;
}
h2{
    margin-right: 200px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}
.h{
    color: blue;
}